@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
:root {
    --primary-color: #444cf7;
    --secondary-color: #e5e5f7;
    --header-bg-color: #ececec;
    --header-border-color: #0d0d0d;
    --header-shadow-color: #0000008a;
    --link-color: #2a2a2a;
    --link-hover-bg-color: #ff8e3c;
    --link-hover-color: #0d0d0d;
    --link-shadow-color: #ffae0050;
    --font-family: Arial, Helvetica, sans-serif;
    --header-height: header.offsetHeight;
    --h1-font: "DM Serif Display", serif;
    --bg-color: #b1b1b1;
    --barraNaranja: #ff8e3c;
    --barraAzul: #444cf7;
}
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    height: 100%;
    scroll-behavior: smooth;
}
body{
    background-color: var(--bg-color);
    z-index: 2;
    height: fit-content;
    
    
}


/* Header */

header{
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(11, calc(100% / 11));
    grid-template-rows: repeat(2, calc(100px / 2));
    height: fit-content !important;
    background-color: var(--header-bg-color);
    border-bottom: solid 1px #0d0d0d;
    box-shadow: 0px 0px 10px #0000008a;
    z-index: 10;
}
header img{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 1 / 3;
    grid-column: 1 / 3;
    margin-top: 10px;
    margin-left: 20px;
    width: 80px !important;
    filter: drop-shadow(0px 0px 5px #0000008a);
}
header ul{
    all: unset;
    grid-column: 9 / 12;
    grid-row: 1 / 3;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
header ul li{
    all: unset;
    margin-right: 20px;

}
header ul li a{
    all: unset;
    color: var(--link-color);
    font-family: var(--font-family);
    padding: 5px;
}
header ul li a:hover{
    cursor: pointer;
    background-color: var(--link-hover-bg-color);
    color: var(--link-hover-color);
    border-radius: 100px;
    transition: 0.5s;
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: normal;
}
header ul li a:not(:hover){
    transition: 0.5s;
}
header ul li:nth-of-type(4){
    margin-right: 15px;
}
/* Fin Header */

/* Main */
main {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center all items horizontally */
    justify-content: center; /* Center all items vertically */
    overflow-y: auto; /* Enable vertical scrolling */
    overflow-x: hidden;
    scroll-snap-type: y mandatory; /* Snap to each section */
    scrollbar-width: thin;
    background-image: url(../Resources/wp2138398-uruguay-wallpapers.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
main h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-family);
    font-size: 2.5em;
    letter-spacing: 10px;
    font-weight: bolder;
    color: var(--primary-color);
    text-align: center;
    margin-top: 20px;
    text-transform: uppercase;
    flex-grow: 1;
    text-shadow: 2px 2px 15px rgba(0, 0, 0, 0.5);
}

main h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-family);
    margin-top: -15px;
    font-size: 4em;
    font-weight: 900;
    color: var(--primary-color);
    text-align: center;
    text-transform: uppercase;
    text-shadow: 2px 2px 15px rgba(0, 0, 0, 0.5);
}

main h1 b {
    font-weight: 900;
    color: var(--barraNaranja);
}
main ul, main ul li{
    list-style: none;
    font-size: 19px;
}
main ul li{
    margin-top: 8px;
}
main ul li, main ul li b{
    font-family: var(--font-family);
    color: white;
}
article{
    margin-top: 20px;
    background-color: #0d0d0d3b;
    border-radius: 50px;
    padding: 20px;
    box-shadow: 0px 0px 75px rgba(0, 0, 0, 0.397);
    backdrop-filter: blur(3px);
}
section{
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 10vh;
    max-width: 1000px;
}
section *{
    padding: 10px;
    font-family: var(--font-family);
    font-size: 1.2em;
    color: white;
}
section h2{
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--barraNaranja);
    font-weight: bold;
    font-size: 1.5em;
    font-family: var(--font-family);
    
}
section video{
    scale: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    margin: 0 auto;
}
/* Fin Main */
footer{
    z-index: 10;
    background-color: var(--header-bg-color);
    position: static;
    bottom: 0;
    border-top: #0d0d0d solid 1px;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-self: center;
}
footer p{
    font-family: var(--font-family);
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 768px){
    header ul{
        grid-column: 1 / 13;
        grid-row: 4 / 5;
        justify-content: center;
    }
    header{
        height: 150px !important;
    }
    header ul li{
        margin-right: 10px;
    }
    header img{
        grid-column: 6 / 7;
        grid-row: 1 / 2;
        margin-left: 0;
    }
    main h1{
        font-size: 3em;
    }
    main h2{
        font-size: 2em;
    }
    main ul li{
        font-size: 16px;
    }
    main ul li b{
        font-size: 16px;
    }
    main article{
        padding: 10px;
    }
    section h2{
        font-size: 1.2em;
    }
    section *{
        font-size: 1em;
    }
    footer p{
        font-size: 0.8em;
    }
    
}