@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
:root {
    --primary-color: #444cf7;
    --secondary-color: #e5e5f7;
    --header-bg-color: #ececec;
    --header-border-color: #0d0d0d;
    --header-shadow-color: #0000008a;
    --link-color: #2a2a2a;
    --link-hover-bg-color: #ff8e3c;
    --link-hover-color: #0d0d0d;
    --link-shadow-color: #ffae0050;
    --font-family: Arial, Helvetica, sans-serif;
    --h1-font: "DM Serif Display", serif;
    --bg-color: #b1b1b1;
    --barraNaranja: #ff8e3c;
    --barraAzul: #444cf7;
}
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html{
    height: 100%;
    scroll-behavior: smooth;
    
}
body{
    overflow: auto;
    z-index: 2;
    height: 100%;
}

/* Header */

header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px !important;
    background-color: var(--header-bg-color);
    border-bottom: solid 1px #0d0d0d;
    box-shadow: 0px 0px 10px #0000008a;
    z-index: 10;
    scroll-snap-align: start;
}
header img{
    display: flex;
    justify-content: flex-start;
    position: absolute;
    left: 0;
    align-items: center;
    margin-top: 5px;
    margin-left: 20px;
    width: 80px !important;
    filter: drop-shadow(0px 0px 5px #0000008a);
}
header ul{
    all: unset;
    position: absolute;
    right: 0;
    margin-right: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
header ul li{
    all: unset;
    margin-right: 20px;
}
header ul li a{
    all: unset;
    color: var(--link-color);
    font-family: var(--font-family);
    padding: 5px;
}
header ul li a:hover{
    cursor: pointer;
    background-color: var(--link-hover-bg-color);
    color: var(--link-hover-color);
    border-radius: 100px;
    transition: 0.5s;
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: normal;
}
header ul li a:not(:hover){
    transition: 0.5s;
}
header ul li:nth-of-type(4){
    margin-right: 15px;
}
main{
    overflow: auto;
    height: auto;
    background-image: url(../Resources/wp2138398-uruguay-wallpapers.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
nav{
    position: fixed;
    top: 10;
    left: 0;
    background-color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    height: fit-content !important;
    width: fit-content !important;
    padding: 10px;
    margin: 10px 0 0 10px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.5s;
}
nav ul li a:hover{
    color: var(--primary-color);
    font-size: 18px;
    transition: 0.5s;
}

.first{
    all: unset;
    font-family: var(--font-family);
    text-align: center;
    cursor: pointer;
}
.imagenes{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.imagenes *{
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.466);
}




/* Inicio de sections */
section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    max-width: 1300px;
    text-align: left;
    flex-direction: column;
    padding: 0 30px 30px 30px;
    background-color: rgba(255, 255, 255, 0.459);
    border-radius: 10px;
    margin: 20px;
}
section h2{
    font-family: var(--h1-font);
    font-size: 3em;
    color: var(--barraNaranja);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
section p{
    margin-top: 20px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
section ol{
    margin-top: 10px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    list-style: decimal;
}
section ol li{
    margin-top: 5px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.486);
}
#p04{
    margin-top: 5rem;
}
#menu{
    display: none;
}
/* Fin de sections */

footer{
    z-index: 10;
    background-color: var(--header-bg-color);
    position: static;
    bottom: 0;
    border-top: #0d0d0d solid 1px;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-self: center;
}
footer p{
    font-family: var(--font-family);
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 768px){
    nav{
        display: none;
    }
    section{
        max-width: 400px;
    }
    .imagenes{
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        scale: 0.8;
    }
    header img{
        width: 60px !important;
    }
    header ul{
        grid-column: 1 / 12;
        grid-row: 2 / 3;
        justify-content: center;
    }
    header ul li{
        margin-right: 10px;
    }
    header ul li:nth-of-type(4){
        margin-right: 0;
    }
    header ul li a{
        padding: 3px;
    }
    header ul li a:hover{
        font-size: 1.2em;
    }
    nav{
        display: none;
    }
    section h2:not(:first-child){
        font-size: 2em;
    }
    section h2:first-child{
        font-size: 1.5em;
    }
    section p{
        font-size: 1em;
    }
    section ol{
        font-size: 1em;
    }
    footer p{
        font-size: 1em;
    }
    #menu{
        all: unset;
        position: absolute;
        right: 0;
        margin-right: 15px;
        border-radius: 100px;
        height: fit-content !important;
        width: fit-content !important;
        padding: 5px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        cursor: pointer;
        text-shadow: 0px 0px 10px #0000008a;
        margin-top: auto;
        margin-bottom: auto;
        z-index: 10;
        scale: 2;
    }
    header ul{
        all: unset;
        position: absolute;
        top: calc(100vh - 85vh);
        right: 0;
        display: none;
        justify-content: center;
        align-items: center;
        background-color: var(--header-bg-color);
        border-radius: 0 0 10px 10px;
        box-shadow: 10px 10px 10px #0000008a;
        z-index: 10;
        border-bottom: #0d0d0d solid 1px;
        border-right: #0d0d0d solid 1px;
        border-left: #0d0d0d solid 1px;
        flex-direction: column;
        overflow: hidden;
    }
    header ul li a{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-right: 0;
    }
    header ul li{
        border-bottom: #0d0d0d solid 1px;
        width: 100%;
        padding: 20px;

    }
}